<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}The British Chocolate Box{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">
            <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
        {% endblock %}
        
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="The British Chocolate Box" />
    </head>
    <body>
        {% include 'menu.html.twig' %}

        {% include 'main_menu.html.twig' %}

        {% include 'online_banner.html.twig' %}

        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    <span class="glyphicon glyphicon-ok"></span> {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashBag.has('danger') %}
            <div class="alert alert-danger">
                {% for msg in app.session.flashBag.get('danger') %}
                    <span class="glyphicon glyphicon-remove"></span> {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        {% block body %}
            {% block main %}{% endblock %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"> </script>
            <script src="{{ asset('js/bootstrap-3.1.1.min.js') }}"></script>
            <!-- <script src="{{ asset('js/simpleCart.min.js') }}"> </script> -->
            <script src="{{ asset('js/app.js') }}"> </script>
        {% endblock %}

        {% include 'footer.html.twig' %}

    </body>
</html>
